{% extends "layout.njk" %}

{% block content %}
  {% include "components/header.njk" %}

  <p>Hello {{ name }} 👋</p>

  <div class="icon">
    {{ svg("web") }}
  </div>

  <p>This is a fully rendered document using Nunjucks.</p>
{% endblock %}
