{% extends "layout.njk" %}

{% block content %}
  <div class="sidebar">
    {% include "components/contact.njk" %}
    {% include "components/education.njk" %}
  </div>
  {% include "components/header.njk" %}
  <div class="summary">{{ summary }}</div>
  {% include "components/experience.njk" %}
{% endblock %}
