.sidebar {
  width: 170px;
  height: 1040px;
  float: left;
  box-sizing: border-box;
  margin-right: 20px;
  background-color: rgba(127, 255, 212, 0.2);
}

.icon {
  width: 1rem;
  height: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ff0000;
}

.icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.skill-item,
.contact-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.header {
  background-color: #f09090;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.name {
  font-size: 32pt;
  font-weight: 900;
}

.tagline {
    font-size: 18pt;
    font-weight: 600;
    border-left: solid 1px #00ff00;
    padding-left: 5px;
}
