.sidebar {
  width: 190px;
  height: 1040px;
  float: left;
  box-sizing: border-box;
  margin-right: 20px;
  padding-right: 20px;
  border-right: solid 1px var(--color-accent);
}

.block {
  margin-bottom: 10px;
}

.block .title {
  font-size: 12pt;
  font-weight: 700;
  margin-bottom: 5px;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-accent);
}

.icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.skill-item,
.contact-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

h1 {
  font-size: 12pt;
  font-weight: 900;
}

h2 {
  font-size: 10pt;
  font-weight: 600;
}

a {
  color: var(--color-text);
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.skill-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 5px; /* row gap / column gap */
}


.skill-item {
  padding: 3px 4px;
  border-radius: 999px;
  background: var(--color-summary-bg);
  font-size: 8pt;
}

.skill-item .icon {
  width: 10px;
  height: 10px;
}

.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.name {
  font-size: 32pt;
  font-weight: 900;
}

.tagline {
    font-size: 18pt;
    font-weight: 600;
    border-left: solid 1px var(--color-accent);
    padding-left: 5px;
    color: var(--color-accent);
}

.summary {
  background-color: var(--color-summary-bg);
  color: var(--color-summary-text);
  border-width: 0px;
  border-radius: 12px;
  margin-left: 210px;
  margin-right: 2px;
  padding: 12px;
}