*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 1cm;
}

html,
body {
  line-height: 1;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: var(--font-size);
}
