{% from "components/macros.njk" import iconText %}

<div class="contact block">
  {% for item in contact %}
    <div class="contact-item">
      {{ iconText(item.icon, item.display, item.link) }}
    </div>
  {% endfor %}
</div>
