{% from "components/macros.njk" import iconText %}

<div class="education">
  <h1>Education</h1>

  {% for edu in education %}
    <div class="edu block">
      <div class="degree-dates">
        <div class="degree">{{ edu.degree }}</div>
        <div class="dates">
          {{ iconText("calendar", edu.dates) }}
        </div>
      </div>

      <div class="institution">{{ edu.institution }}</div>

      <div class="location">
        {{ iconText("pin", edu.location) }}
      </div>
    </div>
  {% endfor %}

</div>
