{% from "components/macros.njk" import iconText %}

<div class="experience">
  <h1>Professional Experience</h1>

  {% for job in experience %}
    <div class="job block">

      <div class="job-header">
        <div class="title">{{ job.title }}</div>

        <div class="job-info">
          <div class="job-info-left">
            <div class="icon-text">
              {{ iconText('pin', job.company) }}
            </div>
            <span class="separator">|</span>
            <div class="icon-text">
              <span>{{ job.location }}</span>
            </div>
          </div>

          <div class="job-info-right">
            <div class="icon-text">
              {{ iconText('calendar', job.dates) }}
            </div>
          </div>
        </div>
      </div>

      {% if job.bullets and job.bullets.length > 0 %}
        <ul class="job-bullets">
          {% for bullet in job.bullets %}
            <li class="bullet">
              {{ bullet }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

    </div>
  {% endfor %}

</div>
