{% from "components/macros.njk" import iconText %}

{% if skills and skills.length %}
  <div class="skills">
    <h1>Skills</h1>
    {% for group in skills %}
      <div class="skill-group block">
        <h2 class="skill-category">
          {{ group.category }}
        </h2>

        {% if group.useIcons %}
          <div class="skill-items">
            {% for item in group.items %}
              <div class="skill-item">
                {{ iconText(item.icon, item.label, null, "skill-label") }}
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="skill-list-column">
            {% for item in group.items %}
              <div class="skill-list-item">
                {{ item.label }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}
