{% if skills and skills.length %}
  <div class="skills">
    {% for group in skills %}
      <div class="skill-group">
        <div class="skill-category">
          {{ group.category }}
        </div>

        <div class="skill-items">
          {% for item in group.items %}
            <div class="skill-item">
              {% if item.icon %}
                <span class="icon">
                  {{ svg(item.icon) | safe }}
                </span>
              {% endif %}
              <span class="skill-label">
                {{ item.label }}
              </span>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
