{% from "components/macros.njk" import iconText %}

{% if skills and skills.length %}
  <div class="skills">
    {% for group in skills %}
      <div class="skill-group">
        <div class="skill-category">
          {{ group.category }}
        </div>

        <div class="skill-items">
          {% for item in group.items %}
            <div class="skill-item">
                {{ iconText(item.icon, item.label, null, "skill-label") }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
